body {
    background-color: rgba(250,244,244,255);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    margin: 0 auto;
    text-align: center;
    height: 200px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav {
    background-color: rgb(209, 146, 209);
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

nav a {
    color: black;
    text-decoration: none;
    padding-left: 10px; 
    padding-right: 10px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 20px 0 20px;
}

main .image-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main .image-box .image-col {
    display: flex;
    flex-direction: column;
    width: 32.5%;
}

main .image-box .image-col img {
    width: 100%;
    padding-bottom: 15px;
    border-radius: 5px;
}


footer {
    margin-top: auto;
    background-color: grey;
    height: 40px;
    width: 100%;
}

.footer-content {
    font-size: 12px;
    text-align: left;
    padding-top: 10px;
    padding-left: 30px;
}