body {
    background-color: rgba(250,244,244,255);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    margin: 0 auto;
    text-align: center;
    height: 200px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav {
    background-color: rgba(241, 196, 190, 0.733);
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

nav a {
    color: black;
    text-decoration: none;
    padding-left: 10px; 
    padding-right: 10px;
}

.home-main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.home-main-container .home-content {
    padding-right: 30px;
    width: 285px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.home-main-container .home-picture {
    width: 285px;
}

.home-main-container .home-picture img {
    width: 100%;
}

.gallery-main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.gallery-main-container .image-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.gallery-main-container .image-box .image-col {
    display: flex;
    flex-direction: column;
    width: 32.5%;
}

.gallery-main-container .image-box .image-col img {
    width: 100%;
    padding-bottom: 15px;
    border-radius: 5px;
}


footer {
    margin-top: auto;
    background-color: rgb(195,236,240);
    height: 40px;
    width: 100%;
}

.footer-content {
    font-size: 12px;
    text-align: left;
    padding-top: 10px;
    padding-left: 30px;
}

@media only screen and (max-width: 769px) {

    .gallery-main-container .image-box {
        flex-direction: column;
    }

    .gallery-main-container .image-box .image-col {
        width: 100%;
    }
    
}