body {
    background-color: rgb(190, 99, 183);
}

header {
    background-color: aquamarine;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

main {
    background-color: blueviolet;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer {
    background-color: grey;
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
}